[user]
  name = Rolando (Max) Espinoza
  email = "me@rmax.io"

[alias]
  co = checkout
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  lg2 = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cD) %C(bold blue)<%an>%Creset' --abbrev-commit
  glog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
  tag-dates = log --tags --simplify-by-decoration --pretty='format:%ai - %d - %h - %s'
  prune = fetch --prune
  undo = reset --soft HEAD^
  stash-all = stash save --include-untracked


[apply]
  whitespace = nowarn

[color]
    branch = auto
    diff = auto
    status = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[commit]
  template = ~/.gitmessage
[core]
  editor = vim
  excludesfile = ~/.gitignore
[push]
  default = simple
  followTags = true
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
[cola]
  fontdiff = Monaco,12,-1,5,50,0,0,0,0,0
  tabwidth = 4
	spellcheck = false
[diff]
  tool = meld
[difftool]
  prompt = false
[difftool "meld"]
  trustExitCode = true
  cmd = open -W -a Meld --args \"$LOCAL\" \"$PWD/$REMOTE\"
[difftool "icdiff"]
  cmd = icdiff --line-numbers $LOCAL $REMOTE
[merge]
  tool = meld
  ff = only
  conflictstyle = diff3
[mergetool]
  prompt = false
[mergetool "meld"]
  trustExitCode = true
  cmd = open -W -a Meld --args --auto-merge \"$PWD/$LOCAL\" \"$PWD/$BASE\" \"$PWD/$REMOTE\" --output=\"$PWD/$MERGED\"
[status]
  showUntrackedFiles = all
[transfer]
  fsckobjects = true
[gist]
  home = ~/.gists
[fsck]
  zeroPaddedFilemode = ignore
[hub]
  protocol = ssh
